<div class="alert alert-danger" role="alert">
  <h3>Oops! We seemed to have encountered a problem.</h3>
  <p>
    Please let us know that you received the following error:<br />
    <b>{{message}}</b><br /><br />
    If you continue to encounter this problem, please contact: team@discourse.org
  </p>
</div>
