<h2>Repositories with Open Issues:</h2>
<p>
  Select the repository with issues you want to import into Discourse.
</p>

{{#each repos}}
  <div class="repo-badge">
    <div class="count">{{open_issues_count}}<div class="describe">issue(s)</div></div>
    <div class="name">
      <div>{{full_name}}</div>
    </div>
    <div class="description">
      {{description}}
    </div>
    <div class="select">
      <a href="/repos/{{full_name}}" class="btn btn-primary">Select</a>
    </div>
  </div>
{{/each}}